<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/users</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1475963Leha</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.example.entity.User" />

    </session-factory>
</hibernate-configuration>